.homepage{
    .logo 
    {
        text-align: center;
        img{
            margin:1.07rem auto 0.87rem;
            width:1.93rem;
        }
    }
    footer span{
        font-size:12px;
        font-weight:bold;
        color:#5fad0a;
        width:2.93rem;
        height:0.8rem;
        line-height:0.8rem;
        border-radius:0.2rem;
        border:2px solid #5fad0a;
        display: block;
        float: none;
        margin: 0.27rem auto;
    }
    h3{
        font-size:15px;
        margin:0 auto 0.27rem;
        text-align:center;
    }
    p{
        font-size:12px;
        margin-bottom:0.27rem;
        text-align:center;
    }
    .banner{
        margin: 0 auto;
        text-align: center;
        width:8.2rem;
        img{
            width:100%;
            margin-top: 0.73rem;
            margin-bottom: 1.53rem;
        }
    }
}
[data-dpr="2"]{
    footer span{
        font-size:24px;
    }
    .homepage h3{
        font-size:30px;
    }
    .homepage p{
        font-size:24px;
    }
}
[data-dpr="3"]{
    footer span{
        font-size:36px;
    }
    .homepage h3{
        font-size:45px;
    }
    .homepage p{
        font-size:36px;
    }
}